<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-offset-2">
                <h2 class="section-heading">Learn more about Us.</h2>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4 col-sm-6">
                <a href="/about/" class="portfolio-box">
                    <img src="/img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
				About Us
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-sm-6">
                <a href="/about/#history" class="portfolio-box">
                    <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                History
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-sm-6">
                <a href="/about/#governance" class="portfolio-box">
                    <img src="/img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Governance
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-sm-6">
                <a href="/about/#initiatives" class="portfolio-box">
                    <img src="/img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Initiatives
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-sm-6">
                <a href="/about/#safespace" class="portfolio-box">
                    <img src="/img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Safe Space
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-sm-6">
                <a href="/about/#allies" class="portfolio-box">
                    <img src="/img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Allies
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
