<header>
	<div class="container">
		<div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>League at AT&T<br>History / Timeline Options</h1>
		    		</div>
				</div>
			</div>
			
		<div class="col-sm-3">

                <div class="device-container">
					<p><a href="{{ site.baseurl }}/history/bruno/#timeline" class="btn btn-outline btn-xl page-scroll">Bruno</a></p>
					<p><a href="{{ site.baseurl }}/history/codyhouse/#timeline" class="btn btn-outline btn-xl page-scroll">Codyhouse</a></p>
				</div>

            </div>
		</div>
	</div>
</header>
