<div class="container">
	<ul class="timeline">
		<li>
			<div class="timeline-badge-year">1970</div>
		</li>
		<li>
			<div class="timeline-badge" style="margin-top: 100px;"></div>
			<div class="timeline-panel" style="margin-top: 100px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">1975</h4>
				</div>
				<div class="timeline-body-left">
					<p>“Sexual Orientation or Preference”<br>is added to the AT&T EEO Statement</p>
				</div>
			</div>
		</li>

		<li>
			<div class="timeline-badge-year">1980</div>
		</li>

        <li class="timeline-inverted">
			<div class="timeline-badge" style="margin-top: 85px;"></div>
			<div class="timeline-panel" style="margin-top: 85px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">1987</h4>
				</div>
            	<div class="timeline-body-right">
					<p>LEAGUE is founded in Denver, CO<br> It is the first Gay, Lesbian, Bisexual, & Transgendered (GLBT) Employee group in Corporate America.</p>
           		</div>
			</div>
        </li>

		<li>
			<div class="timeline-badge" style="margin-top: -50px;"></div>
			<div class="timeline-panel" style="margin-top: -50px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">1989</h4>
				</div>
				<div class="timeline-body-left">
					<p>AT&T financial support for the movie Longtime Companion</p>
				</div>
			</div>
        </li>

		<li>
			<div class="timeline-badge-year">1990</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge" style="margin-top: 85px;"></div>
			<div class="timeline-panel" style="margin-top: 85px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">1990</h4>
				</div>
				<div class="timeline-body-right">
					<p>GALEEMAS Founded<br>Safe Space Program created</p>
				</div>
			</div>
        </li>

		<li>
			<div class="timeline-badge" style="margin-top: -40px;"></div>
			<div class="timeline-panel" style="margin-top: -40px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">1991</h4>
				</div>
				<div class="timeline-body-left">
              		<p>BellSouth ANGLE formed as first Employee Affinity Group</p>
            	</div>
          	</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge"></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">1992</h4>
				</div>
				<div class="timeline-body-right">
					<p>LEAGUE First Professional Development Conference</p>
				</div>
			</div>
        </li>

		<li>
			<div class="timeline-badge"></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">1993</h4>
				</div>
				<div class="timeline-body-left">
              		<p>GLEAM Founded</p>
            	</div>
          	</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge"></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">1994</h4>
				</div>
				<div class="timeline-body-right">
					<p>AT&T first direct mail to LGBT community</p>
					<p>Vendor at numerous GLBT events</p>
					<p>LEAGUE/AT&T Branded Pre-Paid Calling Card.</p>
					<p>Financial support the play by Terrence McNally LOVE!VALOIUUR!COMPASSION</p>
					<p>Financial support Gay Games in NYC</p>
				</div>
			</div>
        	</li>

		<li>
			<div class="timeline-badge" style="margin-top: -120px;"></div>
			<div class="timeline-panel" style="margin-top: -120px;">
					<div class="timeline-heading">
						<h4 class="timeline-title-left">1996</h4>
					</div>
					<div class="timeline-body-left">
              			<p>AWARE Founded</p>
            		</div>
          		</div>
		</li>

		<li>
			<div class="timeline-badge"></div>
			<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title-left">1997</h4>
					</div>
					<div class="timeline-body-left">
              			<p>BellSouth NewANGLE  Formed by LGBT employees</p>
						<p>SPECTRUM Founded with the merger of AWARE and GALEEMAS</p>
						<p>Domestic Partner benefits added to BellSouth management benefits package</p>
            		</div>
          		</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge" style="margin-top: -80px;"></div>
			<div class="timeline-panel" style="margin-top: -80px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">1999</h4>
				</div>
				<div class="timeline-body-right">
					<p>LEAGUE Foundation, providing college scholarships.</p> 
					<p>Domestic partner benefits added to AT&T benefit package</p>
					<p>Domestic partner benefits added to BellSouth craft employees benefits package through bargaining.</p>
				</div>
			</div>
        </li>

		<li>
			<div class="timeline-badge-year">2000</div>
		</li>

		<li>
			<div class="timeline-badge" style="margin-top: 80px;"></div>
			<div class="timeline-panel" style="margin-top: 80px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">2000 - TODAY</h4>
				</div>
				<div class="timeline-body-left">
              		<p>HRC 100% score for 11 running years</p>
 					<p>Over 30 chapters & 5100+ members</p>
					<p>Awarded 50 scholarships totaling over $80,000 through Foundation</p>
            	</div>
          	</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge" style="margin-top: -40px;"></div>
			<div class="timeline-panel" style="margin-top: -40px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">2003</h4>
				</div>
				<div class="timeline-body-right">
					<p>BellSouth first sponsors Atlanta PRIDE</p>
				</div>
			</div>
        </li>

		<li>
			<div class="timeline-badge"></div>
			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">2003 - 2006</h4>
				</div>
				<div class="timeline-body-left">
              		<p>BellSouth participates in Pride events throughout the Southeast, and adds a sponsorship to Birmingham, AL.</p>
					<p>Partnerships with Event Marketing bring in over $110,000 at Pride events in Birmingham and Atlanta.</p>
					<p>First ever corporate sponsor in Birmingham Pride’s 30 yr history.</p>
            	</div>
          	</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge" style="margin-top: -100px;"></div>
			<div class="timeline-panel" style="margin-top: -100px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">2006</h4>
				</div>
				<div class="timeline-body-right">
					<p>SPECTRUM and LEAGUE merged to created the NEW LEAGUE</p>
				</div>
			</div>
        </li>

		<li class="timeline-inverted">
			<div class="timeline-badge" style="margin-top: -20px;"></div>
			<div class="timeline-panel" style="margin-top: -20px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">2007</h4>
				</div>
				<div class="timeline-body-right">
              		<p>New ANGLE and G.L.B.T. – P.R.I.D.E  merged into the NEW LEAGUE</p>
            	</div>
          	</div>
		</li>

		<li>
			<div class="timeline-badge-year">2010</div>
		</li>

		<li>
			<div class="timeline-badge" style="margin-top: 80px;"></div>
			<div class="timeline-panel" style="margin-top: 80px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">2012</h4>
				</div>
				<div class="timeline-body-left">
              		<p>LEAGUE partners with AT&T & through PRIDE In A Box brought 13.8M in revenue for corporation </p>
            	</div>
          	</div>
		</li>

		<li class="timeline-inverted">
			<div class="timeline-badge" style="margin-top: -20px;"></div>
			<div class="timeline-panel" style="margin-top: -20px;">
				<div class="timeline-heading">
					<h4 class="timeline-title-right">2015</h4>
				</div>
				<div class="timeline-body-right">
              		<p>Out@DirectTV  merges into LEAGUE at AT&T</p>
            	</div>
          	</div>
		</li>

		<li>
			<div class="timeline-badge" style="margin-top: -10px;"></div>
			<div class="timeline-panel" style="margin-top: -10px; margin-bottom: 30px">
				<div class="timeline-heading">
					<h4 class="timeline-title-left">2017</h4>
				</div>
				<div class="timeline-body-left">
              		<p>LEAGUE at AT&T turns 30<p>
					<p>The oldest ERG in corporate America </p>
            	</div>
          	</div>
		</li>

		<li>
		</li>

		<li>
			<div class="timeline-badge-year-final" style="margin-top: -10px;">2020 and beyond</div>
		</li>


    </ul>
</div>
